[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
leaguepedia-parser = "2.0.2"
boto3 = "1.34.11"
botocore = "1.34.11"
rich = "*"

[requires]
python_version = "3.11"

[dev-packages]
